<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="AppServerConfiguration" type="SimonGong.AppProcessManage.WorkerProcess.AppServerConfigurationSectionHandler, SG.WorkerProcess"/>
    </configSections>

    <connectionStrings>
        <add name="CONFIGURATION_DB" connectionString="Server=server,port;Initial Catalog=database;Integrated Security=SSPI;MultipleActiveResultSets=True" />
    </connectionStrings>

    <appSettings>
        <!-- Logging configuration file name. Set empty if it is setup in configSections -->
        <!-- add key="LOGGING_CONFIG_FILENAME" value="log1.config" / -->

        <!-- The application server process module -->
        <add key="SERVICE_NAME" value="ApplicationServer_Boster" />
        <add key="SERVICE_DISPLAYNAME" value="ApplicationServer_Boster" />
        <add key="SERVICE_DESC" value="ApplicationServer_Boster" />
        <add key="SERVICE_MODULE" value="SG.TestApplication.TestAppServer, TestApplication" />

        <!-- true - Load the process configuration from the database -->
        <add key="USE_DB_CONFIG" value="true" />
        <!-- Data Center Site Flag -->
        <add key="DATA_CENTER_FLAG" value="SITE1" />
    </appSettings>

    <AppServerConfiguration>
        <IP_ADDRESS>127.0.0.1</IP_ADDRESS>
        <PORT>5678</PORT>
    </AppServerConfiguration>

    <log4net>
        <root>
            <level value="ALL"/>
            <appender-ref ref="appLog"/>
        </root>

        <appender name="appLog" type="log4net.Appender.RollingFileAppender">
            <file value="C:\Logs\wp.log"/>
            <appendToFile value="true"/>
            <preserveLogFileNameExtension value="false"/>
            <maximumFileSize value="40960KB"/>
            <maxSizeRollBackups value="100"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy/MM/dd HH:mm:ss.ffffff} | %-3.3thread | %-5level | %-20.20logger{1} | %-22.22method - %3.3line || %m%n"/>
            </layout>
        </appender>
    </log4net>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>