<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /> 
    </configSections>

    <log4net debug="false">
        <root>
            <level value="ALL"/>
            <appender-ref ref="appLog"/>
        </root>

        <appender name="appLog" type="log4net.Appender.RollingFileAppender">
            <file value="C:\Logs\app.log"/>
            <appendToFile value="true"/>
            <preserveLogFileNameExtension value="false"/>
            <maximumFileSize value="40960KB"/>
            <maxSizeRollBackups value="100"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d{yyyy/MM/dd HH:mm:ss.ffffff} | %-3.3thread | %-12property{LOG_TYPE} | %-5level | %-20.20logger{1} | %-22.22method - %3.3line || %m%n"/>
            </layout>
        </appender>
    </log4net>
</configuration>