<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /> -->
    </configSections>
    
    <connectionStrings>
        <add name="CONFIGURATION_DB" connectionString="Server=server,port;Initial Catalog=database;Integrated Security=SSPI;MultipleActiveResultSets=True" />
    </connectionStrings>
  
    <appSettings>
        <!-- Service name and the service account will be LOCAL SYSTEM by default
                    The following three settings will be used then installing the service -->
        <add key="SERVICE_NAME" value="ApplicationServer_Boster" />
        <add key="SERVICE_DISPLAYNAME" value="ApplicationServer_Boster" />
        <add key="SERVICE_DESC" value="ApplicationServer_Boster" />
        
        <!-- Logging configuration file name. Put empty if it is setup in the section configSections -->
        <add key="LOGGING_CONFIG_FILENAME" value="log.config" />
        
        <!-- The data path of the application servers -->
        <add key="APP_SERVERS_DATA_PATH" value="C:\Workspace\GitHub\AppProcessManager\bin\servers.config" />
        
        <!-- true - Use the module configuration from database -->
        <add key="USE_DB_CONFIG" value="true" />
        <!-- Data Center Site Flag -->
        <add key="DATA_CENTER_FLAG" value="BMO" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>