<?xml version="1.0" encoding="utf-8"?>
<ProcessControlConfiguration>
    <ControllerSetting>
        <WatchFile>true</WatchFile>
        <MonitorProcess>false</MonitorProcess>
        <MonitorTimeInterval>10</MonitorTimeInterval>
    </ControllerSetting>
    <ProcessInstances>
        
        <ProcessInstance instanceID="1" autoRestart="true">
            <Name>GWY1</Name>
            <WorkProcess>SG.WorkerProcess.exe</WorkProcess>
            <ProcessArgs></ProcessArgs>
            <DirectoryName>GWY1</DirectoryName>
            <WorkingDirectory>C:\Workspace\GitHub\AppProcessManager\Data\GWY1</WorkingDirectory>
            <Command>START</Command>
        </ProcessInstance>
        
        <ProcessInstance instanceID="2" autoRestart="true">
            <Name>GWY2</Name>
            <WorkProcess>SG.WorkerProcess.exe</WorkProcess>
            <ProcessArgs></ProcessArgs>
            <DirectoryName>GWY2</DirectoryName>
            <WorkingDirectory>C:\Workspace\GitHub\AppProcessManager\Data\GWY2</WorkingDirectory>
            <Command>START</Command>
        </ProcessInstance>
        
        <ProcessInstance instanceID="3" autoRestart="true">
            <Name>MQGWY3</Name>
            <WorkProcess>SG.WorkerProcess.exe</WorkProcess>
            <ProcessArgs></ProcessArgs>
            <DirectoryName>GWY3</DirectoryName>
            <WorkingDirectory>C:\Workspace\GitHub\AppProcessManager\Data\GWY3</WorkingDirectory>
            <Command>START</Command>
        </ProcessInstance>

    </ProcessInstances>
</ProcessControlConfiguration>

